
.anchor
.DS_Store
target/*
!target/idl
**/*.rs.bk
node_modules
test-ledger
.idea
packages/*/lib
packages/render-admin-cli/keypairs/
packages/render-admin-cli/keypairs-prod/
**/*.tsbuildinfo
.parcel-cache
.vscode
yarn-error.log
**/*/transactions.json
**/*/transactions-with-lut.json
data/
accounts

.env*
hardhat/artifacts
hardhat/typechain-types
hardhat/cache
hardhat/.openzeppelin
.next
